* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background: #1a237e;
}

.app__title {
  position: fixed;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  top: 0;
  font-size: 8vw;
  right: 0;
  z-index: 10;
  /* transform: rotate(90deg); */
  bottom: 0;
  padding: 1vw;
}

.country__title {
  position: fixed;
  bottom: 0;
  text-transform: uppercase;
  z-index: 10;
  color: #fff;
  text-shadow: 4px 2px #00000075;
}
