.trends {
  color: #fff;
  grid-column: 1 / end;
  grid-row: 1;
  z-index: 2;
  font-size: 1vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-bottom: 5px;
  overflow: hidden;
}

.trends__text {
  display: flex;
  align-items: center;
  background: #192543;
  z-index: 10;
  width: fit-content;
  padding-left: 20px;
}

.trends__list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  right: 0;
  animation: trendmove 120s linear infinite;
}

.trends__list::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  height: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.trends__list > li {
  margin-left: 10px;
}

/* .trends__list > li:first-child {
  animation: trendmove 60s linear infinite;
} */

.trends__list > li:hover > a {
  color: #1da1f2;
}

.refresh {
  margin: 0 10px;
}

.refresh:hover {
  color: #1da1f2;
  cursor: pointer;
}

@keyframes trendmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-20%);
  }
}
